<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
</head>
<body>
<div class="container-password-reset">
        <h1>Восстановление пароля</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Логин</label>
        <input type="text" name="username" id="username" required><br><br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required><br><br>

        <label for="pin_code">Пин код</label>
        <input type="text" name="pin_code" id="pin_code" required><br><br>

        <button type="submit">Отправить</button>
    </form>

</div>
<img src="{% static '/images/background_reg.png' %}" alt="Свет" id="background-image-reg">

</body>
</html>
