<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
</head>
<body>
<div class="container-password-reset-complete">
    <p>Пароль успешно изменен! </p>
    <button onclick="window.location.href='{% url 'HGcity:login' %}'">НА ГЛАВНУЮ</button>

</div>
<img src="{% static '/images/background_reg.png' %}" alt="Свет" id="background-image-reg">

</body>
</html>
