<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание нового пароля</title>
</head>
<body>
<div class="container-password-reset">
    <h1>Создание нового пароля</h1>

    {% if form.non_field_errors %}
    <p style="color: red;">
        {% for error in form.non_field_errors %}
        {{ error }}<br>
        {% endfor %}
    </p>
    {% endif %}
    <br>
    <form method="post">
        {% csrf_token %}

        <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <p style="color: red;">
            {% for error in form.new_password1.errors %}
            {{ error }}<br>
            {% endfor %}
        </p>
        {% endif %}
        <br><br>
        <br>
        <label for="{{ form.new_password2.id_for_label }}">Подтвердите пароль</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <p style="color: red;">
            {% for error in form.new_password2.errors %}
            {{ error }}<br>
            {% endfor %}
        </p>
        {% endif %}
        <br><br>
        <br>
        <button type="submit">Изменить пароль</button>
    </form>


</div>

<img src="{% static '/images/background_reg.png' %}" alt="Свет" id="background-image-reg">

</body>
</html>
