/* KUDA страница */

/* Стили для фонового изображения */
#background-image-kuda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Полная ширина экрана */
    height: 100vh; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

/* Основное содержимое */
#content {
    position: relative; /* Сохраняем поверх фонового изображения */
    z-index: 1; /* Размещаем выше фонового изображения */
    color: black;
}

/* RULES страница */

/* Стили для фонового изображения */
#background-image-rules {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Полная ширина экрана */
    height: 100vh; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}


/* ABOUT страница */

/* Стили для фонового изображения */
#background-image-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%; /* Полная ширина экрана */
    height: 110%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */

}



/* CONTACT страница */

/* Стили для фонового изображения */
#background-image-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

/* CHAT страница */

/* Стили для фонового изображения */
#background-image-chat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

/* PROFILE страница */

/* Стили для фонового изображения */
#background-image-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

/* LOGIN страница */

/* Стили для фонового изображения */
#background-image-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}


/* REG страница */

/* Стили для фонового изображения */
#background-image-reg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

/* PASS страница */

/* Стили для фонового изображения */
#background-image-pass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
}

#background-image-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    object-fit: cover; /* Картинка адаптируется без искажений */
    z-index: -1; /* Отправляем изображение на задний план */
    display: block; /* Делаем изображение видимым */
    }