<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои работы</title>
</head>
<body>
    <h1>Мои работы</h1>

    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li>
                    <h3>{{ job.title }}</h3>
                    <p>{{ job.description }}</p>
                    <p>Максимум работников: {{ job.max_workers }}</p>
                    <p>Текущие работники: {{ job.current_workers.count }}</p>
                    <p>Вместо свободно: {{ job.max_workers|add:"-"|add:job.current_workers.count }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет работы.</p>
    {% endif %}
</body>
</html>
