{% load i18n %}
{% autoescape off %}
🔺 ПИСЬМО ВОСТАНОВЛЕНИЕ ПАРОЛЯ
{% translate '🔻 Забыл пароль? Как так? 😕' %}

🔺 Житель города Харальдград, под логином {{ user.get_username }} будет жестоко наказан
🔻 Двести смен на шахте "Вонючая Крыса" в наказание

🔺 Ты запросил восстановление пароля для учетной записи на сайте {{ site_name }}
🔻 Переходи по следующей ссылке, чтобы установить новый пароль:
{% block reset_link %} {{ protocol }}://{{ domain }}{% url 'HGcity:password_reset_confirm' uidb64=uid token=token %} {% endblock %}

🔻 Постарайся больше пароль не забывать! Команда "CheckMate, проект " Харальдград "
{% endautoescape %}


