{% extends 'HGcity/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block header %}{% endblock %}

{% load static %}

{% block content %}
<img src="{% static '/images/background_pass.png' %}" alt="Свет" id="background-image-pass">

<div class="div-confirm-email">
    <h2>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h2>
    <form method="post" class="">
        {% csrf_token %}

        <!-- Поле для нового пароля -->
        <div class="form-group">
            <label for="new_password1">Новый пароль:</label>
            <input type="password" id="new_password1" name="new_password1" placeholder="Введите новый пароль">
        </div>
        <br>
        <!-- Поле для подтверждения пароля -->
        <div class="form-group">
            <label for="new_password2">Подтверждение нового пароля:</label>
            <input type="password" id="new_password2" name="new_password2" placeholder="Подтвердите новый пароль">
        </div>
        <br>
        <!-- Кнопка отправки -->
        <div class="form-group">
            <button type="submit">Сбросить пароль</button>
        </div>
    </form>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
