{% load i18n %}
{% autoescape off %}

{% translate Забыл пароль? НУ ЕБАНА :( %}
{% blocktranslate %}Вы получили это письмо, потому что запросили восстановление пароля для вашей учетной записи на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'HGcity:password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

{% translate 'Ваш логин:' %} {{ user.get_username }}


{% translate "Спасибо за использование нашего сайта!" %}

{% blocktranslate %}С уважением, команда "CheckMate"{% endblocktranslate %}
{% endautoescape %}