{% extends 'HGcity/base.html' %}

{% block title %}Пароль изменен{% endblock %}
{% block header %}{% endblock %}

{% load static %}
{% block content %}

<img src="{% static '/images/background_pass.png' %}" alt="Свет" id="background-image-pass">

<div class="container">
    <h1 style="color:#CD5C5C;">ПАРОЛЬ УСПЕШНО ИЗМЕНЕН</h1>
    <p>Теперь ты можешь войти в свой аккаунт с новым паролем</p>
    <button onclick="window.location.href='{% url 'HGcity:login' %}'" class="button-login-main" style="font-size:25px;">
        Войти в аккаунт
    </button>
</div>

{% endblock %}

{% block footer %}
{% endblock %}