{% extends 'HGcity/base.html' %}

{% block title %}Восстановление пароля

{% block header %}{% endblock %}


{% endblock %}

{% block content %}

<div class="container">
    <h1 style="color:#CD5C5C;">ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сбросить пароль</button> |  <button onclick="window.location.href='{% url 'HGcity:login' %}'" style="margin-top: 10px;">Назад</button>
    </form>
</div>

{% endblock %}


{% block footer %}
{% endblock %}