{% extends 'HGcity/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block header %}{% endblock %}

{% load static %}

{% block content %}
<img src="{% static '/images/background_pass.png' %}" alt="Свет" id="background-image-pass">
<div class="div-login">
    <h2>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h2>
    <form method="post" class="div-login">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сбросить пароль</button>
    </form>
</div>

{% endblock %}
{% block footer %}
{% endblock %}