<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отказ в доступе</title>
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

</head>
<body>
    <img src="{% static '/images/background_rules.png' %}" alt="Свет" id="background-image-rules">
    <div class="container">
        <h1>Вы сегодня уже отработали 3 смены</h1>
    </div>
</body>
</html>
