<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отказ в доступе</title>
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

</head>
<body>
    <img src="{% static '/images/background_rules.png' %}" alt="Свет" id="background-image-rules">
    <div class="container">
        <img src="{% static '/images/сlose_zavod.png' %}" alt="Свет" class="img-about-top">
        <p class="text_access">Вы сегодня уже отработали 3 смены</p>
        <p class="text_access">Иди Поспи!</p>
        <button onclick="window.location.href='{% url 'HGcity:home' %}'" class="button-login-main">НА ГЛАВНУЮ</button>
    </div>
</body>
</html>
