{% extends 'HGcity/base.html' %}
{% block title %}О проекте{% endblock %}
{% load static %}

{% block content %}

<div class="content-container">


    <img src="{% static '/images/Screen_saver/ab_project.png' %}" alt="Заставка" class="img-about-top">

    <h1 class="welcome-text" >ДОБРО ПОЖАЛОВАТЬ В <STRONG>ХАРАЛЬДГРАД</STRONG></h1>
    <p class="description-text">ЭТО ВЕБ-ПРИЛОЖЕНИЕ, КОТОРОЕ ПЕРЕНОСИТ ВАС В УНИКАЛЬНЫЙ ВИРТУАЛЬНЫЙ
        ГОРОД С ЭЛЕМЕНТАМИ ИГРОВОЙ МЕХАНИКИ ВРП <span style="color:#e42525;">[Web-RollPlay]</span>. В ЭТОМ ПРОЕКТЕ ВЫ
        СТАНОВИТЕСЬ ЖИТЕЛЕМ ЗАГАДОЧНОГО ГОРОДА-БУНКЕРА, ГДЕ КАЖДЫЙ ДЕНЬ — ЭТО НОВЫЙ ВЫЗОВ.</p>

    <p class="description-text">В ХАРАЛЬДГРАДЕ ВАС ЖДУТ ЗАХВАТЫВАЮЩИЕ СОБЫТИЯ: ОТ ПОЛИТИКИ И ЭКОНОМИКИ ДО КРИМИНАЛЬНЫХ
        ИНТРИГ И ДУЭЛЕЙ. ЗДЕСЬ КАЖДЫЙ СМОЖЕТ НАЙТИ СВОЕ МЕСТО И ВЛИЯТЬ НА СУДЬБУ ГОРОДА. БУДЬТЕ ГОТОВЫ ПОГРУЗИТЬСЯ В ДИНАМИЧНУЮ И
        РАЗНООБРАЗНУЮ ЖИЗНЬ, ГДЕ КАЖДОЕ ВАШЕ РЕШЕНИЕ ИМЕЕТ ЗНАЧЕНИЕ.</p>


    <div class="features-wrapper-update">
        <ul class="features-list">
            <li>Вступать в политические интриги и влиять на развитие города.</li>
            <li>Участвовать в дуэлях и сражениях за власть и ресурсы.</li>
            <li>Заниматься экономической деятельностью, строить бизнес и зарабатывать.</li>
            <li>Разгадывать тайны города и участвовать в криминальных схемах.</li>
        </ul>
    </div>
    <br>
    <div class="features-wrapper-update">
        <ul class="features-list">
            <li><b style="color:#5cca5c;">Житель</b> - Обычный человек, проживающий в бункере Харальдград</li>
            <li><b style="color:#4949ff;">ГОХ</b> - Гражданская Оборона Харальдграда. Полиция следящая за порядком в городе</li>
            <li><b style="color:#0f66fd;">Капитан ГОХ</b> - Глава полиции.</li>
            <li><b style="color:#ad1111;">Система</b> - Администрация</li>
            <li>Другие роли в разработке...</li>
        </ul>
    </div>

    <H2 CLASS="history-title">ПРЕДЫСТОРИЯ ХАРАЛЬДГРАДА</H2>
    <p class="description-text">ЧТОБЫ ГЛУБЖЕ ПОНЯТЬ МИР ХАРАЛЬДГРАДА И ЕГО ТАЙНЫ, МЫ ПРИГЛАШАЕМ ВАС ПОЗНАКОМИТЬСЯ С ЕГО
        ПРЕДЫСТОРИЕЙ. КНИГА РАССКАЖЕТ О ТОМ, КАК ВОЗНИК ГОРОД, КАКИЕ СОБЫТИЯ ПРИВЕЛИ К ЕГО СУЩЕСТВОВАНИЮ И ЧТО СТОИТ ЗА ЕГО
        СТЕНАМИ.</p>

    <p class="description-text">ВЫ МОЖЕТЕ СКАЧАТЬ КНИГУ В СЛЕДУЮЩИХ ФОРМАТАХ</p>
    <ul class="download-links">
        <li><a href="{% static 'books/haraldgrad.epub' %}" download>Скачать в формате EPUB <span
                style="font-size:18px; color:white;">[ книга для Iphone ]</span></a></li>
        <li><a href="{% static 'books/haraldgrad.fb2' %}" download>Скачать в формате FB2 <span
                style="font-size:18px; color:white;">[ книга для Android ]</span></a></li>
        <li><a href="{% static 'books/haraldgrad.fb2' %}" download>Скачать в формате PDF <span
                style="font-size:18px; color:white;">[ книга для Windows ]</span></a></li>
    </ul>

    <p class="description-text">ТАКЖЕ ВЫ МОЖЕТЕ ПОСЛУШАТЬ АУДИОКНИГУ НА <a
            href="https://www.youtube.com/watch?v=your-video-link" target="_blank">YOUTUBE</a>.</p>
    <p class="description-text">ССЫЛКА СКОРО ПОЯВИСЯТСЯ...</p>
</div>

<img src="{% static '/images/background_project.png' %}" alt="Свет" id="background-image-project">

{% endblock %}

{% block footer %}
{% endblock %}
