<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/support.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">

</head>
<body>

{% block header %}
<!-- Навигационное меню -->
<header>
    <nav>
        <ul>
            <li><a href="{% url 'HGcity:guide_page' %}">ПЛОЩАДЬ</a></li>
            <li><a href="{% url 'HGcity:about' %}">О ПРОЕКТЕ</a></li>
            <li><a href="{% url 'HGcity:update' %}">ОБНОВЛЕНИЯ</a></li>
            <li><a href="{% url 'HGcity:contact' %}">КОНТАКТЫ</a></li>
            <li><a href="{% url 'HGcity:support_page' %}">ПОДДЕРЖКА</a></li>
<!--            <li><a href="{% url 'HGcity:chat' %}">ТАВЕРНА</a></li>-->

            {% if user.is_authenticated %}
<!--                <li><a href="{% url 'HGcity:profile' %}">ПРОФИЛЬ</a></li>-->
<!--                <li><a href="{% url 'HGcity:logout' %}">ВЫХОД</a></li>-->
            {% else %}
                <li><a href="{% url 'HGcity:register' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a href="{% url 'HGcity:login' %}">ВХОД</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}


<!-- Основной контент -->
<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Футер -->
<footer>
    {% block footer %}
    <p>&copy; 2025 HGcity</p>
    {% endblock %}
</footer>
</body>
</html>
