{% extends 'HGcity/base.html' %}

{% load static %}

{% block title %}Таверна{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<img src="{% static 'images/background_chat.png' %}" alt="Свет" id="background-image-chat">

<link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
<link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">

<div id="chat-container" class="div-login-login">
    <button onclick="window.location.href='{% url 'HGcity:chat_rules' %}'" class="button-chat-rules">
        Правила чата
    </button>

    <h2 class="chat-title"><span>ТАВЕРНА</span> "ПЬЯНАЯ КРЫСА"</h2>

    {% if user.is_authenticated %}
    <div id="chat-box" class='chats'>
        <!-- Сообщения будут добавляться сюда -->
    </div>
    <br>
    Ваш никнейм:
    <input type="text" id="username" value="{{ user.username }}" readonly style="width: 20%;"><br>
    <textarea id="message" placeholder="Введите сообщение" class="chat-input"></textarea>
    <br>
    <div class="div-chat-end">
        <button onclick="sendMessage()" class="button-chat">
            Отправить
        </button>
        {% if user.role == 'ГОХ' or user.role == 'Система' or user.role == 'Капитан Гох' %}
        <button onclick="clearChat()" class="button-chat">Очистить чат</button>
        {% endif %}
        <button onclick="window.location.href='{% url 'HGcity:guide_page' %}'" class="button-chat">
            Вернуться на главную
        </button>
    </div>

    {% else %}
    <p>Тебе бродяга в таверну нельзя. Сначала зайди в свой аккаунт <a href="{% url 'HGcity:login' %}">Вход</a>.</p>
    {% endif %}
</div>

<script>
    function sendMessage() {
        const username = document.getElementById('username').value || 'Аноним';
        const message = document.getElementById('message').value;

        if (message.trim()) {
            fetch("{% url 'HGcity:send_message' %}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'username': username,
                    'message': message
                })
            }).then(response => response.json())
              .then(data => {
                  if (data.status === 'ok') {
                      document.getElementById('message').value = '';
                      loadMessages();
                  } else {
                      alert(data.message);
                  }
              });
        }
    }

    function loadMessages() {
        fetch("{% url 'HGcity:get_messages' %}")
            .then(response => response.json())
            .then(data => {
                const chatBox = document.getElementById('chat-box');
                const currentMessages = chatBox.getElementsByClassName('message');
                const currentMessagesIds = Array.from(currentMessages).map(msg => msg.id.replace('message-', ''));

                data.messages.forEach(msg => {
                    if (!currentMessagesIds.includes(String(msg.id))) {
                        let usernameColor = 'green';
                        if (msg.role === 'ГОХ') {
                            usernameColor = 'blue';
                        } else if (msg.role === 'Система') {
                            usernameColor = 'red';
                        } else if (msg.role === 'Капитан Гох') {
                            usernameColor = '#4d80ff';
                        }

                        const messageHTML = `
                            <div id="message-${msg.id}" class="message">
                                <span href="{% url 'HGcity:statistics' %}" style="color:grey;">
                                    ${msg.username} |
                                </span>

                                <strong class='chat-message' style="color:${usernameColor};"> ${msg.first_name} ${msg.last_name}: </strong>
                                <span class='chat-message'>${msg.message}</span>
                                <span class='chat-message'> </span>
                            </div>
                        `;
                        chatBox.insertAdjacentHTML('beforeend', messageHTML);
                    }
                });

                chatBox.scrollTop = chatBox.scrollHeight;
            });
    }

    function clearChat() {
        fetch("{% url 'HGcity:clear_chat' %}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        }).then(response => response.json())
          .then(data => {
              if (data.status === 'ok') {
                  loadMessages();
              } else {
                  alert(data.message);
              }
          });
    }

    setInterval(loadMessages, 2000);
</script>

{% endblock %}

{% block footer %}
{% endblock %}
