{% extends 'HGcity/base.html' %}
{% block title %}Правила чата{% endblock %}
{% load static %}
{% block header %}{% endblock %}

{% block content %}


<img src="{% static '/images/background_chat.png' %}" alt="Свет" id="background-image-chat">
<div class="features-wrapper-chat-rules">
    <div>
        <ol class="features-list">
            <li>Избегайте спама, флейма и флуда.</li>
            <li>Избегайте грубых высказываний, унижающих человеческое достоинство.</li>
            <li>Запрещается угрожать физической расправой другим участникам.</li>
            <li>Запрещается распространять личную информацию пользователей без их согласия.</li>
            <li>Избегайте разжигания конфликтов и спорных тем, не связанных с целями проекта.</li>
            <li>Запрещены сообщения 18+.</li>
            <li>Запрещена пропаганда алкоголя, табачных изделий, наркотиков.</li>
            <li>Руководство сервера не обязано предоставлять нарушителю доказательства <br>нарушения правил.</li>
            <li>Руководство сервера оставляет за собой право изменять эти правила без <br>предварительного уведомления
                участников.
            </li>
            <li>Руководство сервера вправе наказывать за действия, которые по их усмотрению могут <br>нести в себе
                угрозу,
                даже если пункты нарушения не прописаны в этих правилах.
            </li>
        </ol>
    </div>
</div>
<br>
<div class="div-login">
    <button onclick="window.location.href='{% url 'HGcity:chat' %}'">
        Вернуться в чат
    </button>

</div>

{% endblock %}

{% block footer %}
{% endblock %}