{% extends 'HGcity/base.html' %}
{% block title %}Правила чата{% endblock %}
{% load static %}
{% block header %}{% endblock %}

{% block content %}


<img src="{% static '/images/background_chat.png' %}" alt="Свет" id="background-image-chat">
<div class="features-wrapper-chat-rules">
    <div>
        <ol class="features-list">
            <li>Избегайте спама, флейма и флуда.</li>
            <li>Избегайте грубых высказываний, унижающих человеческое достоинство.</li>
            <li>Запрещается угрожать физической расправой другим участникам.</li>
            <li>Запрещается распространять личную информацию пользователей без их согласия.</li>
            <li>Избегайте разжигания конфликтов и спорных тем, не связанных с целями проекта.</li>
            <li>Запрещены сообщения 18+.</li>
            <li>Запрещена пропаганда алкоголя, табачных изделий, наркотиков.</li>
            <li>Руководство сервера не обязано предоставлять нарушителю доказательства <br>нарушения правил.</li>
            <li>Руководство сервера оставляет за собой право изменять эти правила без <br>предварительного уведомления
                участников.
            </li>
            <li>Руководство сервера вправе наказывать за действия, которые по их усмотрению могут <br>нести в себе
                угрозу,
                даже если пункты нарушения не прописаны в этих правилах.
            </li>
        </ol>
    </div>
</div>

<div class="features-wrapper-chat-rules-2">
    <p style="font-size:24px; margin-left:3%;">Команды чата</p>
    <div>
        <ol class="features-list">
            <li><b style="color:red;">/drink</b> - выпить рюмку водки</li>

            {% if user.role == 'ГОХ' or user.role == 'Капитан ГОХ' or user.role == 'Система' %}
            <li><b style="color:red;">/mute</b> 30, 60, 3600 - мут пользователя (Пример: /mute dima 60). Время указывается в секундах</li>
            {% endif %}

            {% if user.role == 'Капитан ГОХ' or user.role == 'Система' %}
            <li><b style="color:red;">/ban</b> - забанить пользователя (Только ролям "Капитан ГОХ" и "Система")</li>
            {% endif %}

            {% if user.role == 'ГОХ' or user.role == 'Капитан ГОХ' or user.role == 'Система' %}
            <li><b style="color:red;">/unban</b> - разбанить пользователя (Только ролям "ГОХ", "Капитан ГОХ" и "Система")</li>
            {% endif %}
        </ol>
    </div>
</div>



<br>
<div class="div-login">
    <button onclick="window.location.href='{% url 'HGcity:chat' %}'">
        Вернуться в чат
    </button>

</div>

{% endblock %}

{% block footer %}
{% endblock %}