{% extends 'HGcity/base.html' %}



{% block title %}Чат закрыт{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<img src="{% static '/images/background_chat.png' %}" alt="Свет" id="background-image-chat">

<div class="div-reset-password">
    <h1><b>ТАВЕРНА ЗАКРЫТА!</b></h1>
    <p>Таверна работает с <span style="color:#ff4747;">{{ start_time }}</span> до <span style="color:#ff4747;">{{ end_time }} </span>по
        МСК <i style="font-size:15px;">(Московскому времени)</i>.</p>
    <p>Бармен отдыхает. Приходи вечером или заходи в чат <b><a href="https://t.me/+2hWZ4tdrrKRkYzky" target="_blank" style="color:#256fe8; text-decoration: none;" onmouseover="this.style.color='#FF5733';" onmouseout="this.style.color='#256fe8';">Телеграмм</a></b></p>
    <br>
    <button onclick="window.location.href='{% url 'HGcity:guide_page' %}'">
        Вернуться на главную
    </button>
</div>


{% endblock %}

{% block footer %}
{% endblock %}