{% extends 'HGcity/base.html' %}
{% block title %}Правила чата{% endblock %}
{% block content %}
<div class="chat-rules">
    <div class="chat-title">
        <p>Правила Чата</p>
        <p>Таверна "Черная Крыса"</p>
    </div>

    <ol class="rules-list">
        <li>Избегайте спама, флейма и флуда.</li>
        <li>Избегайте грубых высказываний, унижающих человеческое достоинство.</li>
        <li>Запрещается угрожать физической расправой другим участникам.</li>
        <li>Запрещается распространять личную информацию пользователей без их согласия.</li>
        <li>Избегайте разжигания конфликтов и спорных тем, не связанных с целями проекта.</li>
        <li>Запрещены сообщения 18+.</li>
        <li>Запрещена пропаганда алкоголя, табачных изделий, наркотиков.</li>
        <li>Руководство сервера не обязано предоставлять нарушителю доказательства нарушения правил.</li>
        <li>Руководство сервера оставляет за собой право изменять эти правила без предварительного уведомления участников.</li>
        <li>Руководство сервера вправе наказывать за действия, которые по их усмотрению могут нести в себе угрозу, даже если пункты нарушения не прописаны в этих правилах.</li>
    </ol>
</div>



<button onclick="window.location.href='{% url 'HGcity:chat' %}'" style="margin-top: 10px;">
    Вернуться в чат
</button>
{% endblock %}