{% extends 'HGcity/base.html' %}
{% load static %}
{% block title %}Каталог Лого{% endblock %}
{% block content %}

<img src="{% static '/images/background_profile.png' %}" alt="Свет" id="background-image-profile">




<div class='choose_logo_many'>
    <h1>ВЫБЕРИТЕ ЛОГОТИП</h1>
    <!-- Отображение только сообщений о бане -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if "error" in message.tags %}
        <li class="{{ message.tags }}" style="font-size:25px; color: red;">{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}


<form method="post" style="display:flex; align-items: center; flex-direction: column;">
    {% csrf_token %}
    <ul class="logo-list">
        {% for logo in logos %}
        <li>
            <label class="logo-label">
                <input type="radio" name="logo" value="{{ logo }}">
                <img src="{% static logo %}" alt="{{ logo }}">
            </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="profile-button-logo-2">Сохранить</button>
</form>
</div>


{% endblock %}


{% block footer %}
{% endblock %}