{% extends 'HGcity/base.html' %}
{% load static %}

{% block content %}
<h1>Выберите логотип</h1>

<!-- Отображение только сообщений о бане -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if "error" in message.tags %}
        <li class="{{ message.tags }}" style="font-size:25px; color: red;">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}


<form method="post">
    {% csrf_token %}
    <ul>
        {% for logo in logos %}
        <li>
            <label>
                <input type="radio" name="logo" value="{{ logo }}">
                <img src="{% static logo %}" alt="{{ logo }}" style="width: 100px;">
            </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Сохранить</button>
</form>

{% endblock %}
