{% extends 'HGcity/base.html' %}
{% load static %}

{% block content %}
<h1>Выберите логотип</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        {% for logo in logos %}
            <div>
                <img src="{% static 'logos/1 level/'|add:logo %}" alt="Логотип {{ logo }}" style="width: 100px; height: 100px;">
                <input type="radio" name="logo" value="{{ logo }}" id="{{ logo }}">
                <label for="{{ logo }}">Выбрать</label>
            </div>
        {% endfor %}
    </div>

    <!-- Кнопка сохранить -->
    <button type="submit">Сохранить</button>
</form>

{% endblock %}
