{% extends 'HGcity/base.html' %}
{% block title %}Площадь{% endblock %}
{% load static %}

{% block content %}
<!-- Контейнер для фона -->
<div id="background"></div>
<p class="titl-guide-page"> НАВИГАЦИЯ ПО ГОРОДУ</p>
<div id="guide_page-page"> <!-- Основной контейнер с содержимым -->

    <div class="image-row"> <!-- Контейнер для строк -->
        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:chat' %}')">
            <img src="{% static '/images/guide_page_logos/tavern.png' %}" alt="Image">
        </div>

        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:profile' %}')">
            <img src="{% static '/images/guide_page_logos/profile.png' %}" alt="Image">
        </div>

        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:statistics' %}')">
            <img src="{% static '/images/guide_page_logos/cartoteca.png' %}" alt="Image">
        </div>

        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:logout' %}')">
            <img src="{% static '/images/guide_page_logos/exit.png' %}" alt="Image">
        </div>
    </div>

</div>
<p class="titl-guide-page">СКОРО В ГОРОДЕ</p>
<br>
<br>
<span class="text-guide-page">(В РАЗРАБОТКЕ)</span>
<div id="guide_page-page"> <!-- Основной контейнер с содержимым -->

    <div class="image-row"> <!-- Контейнер для строк -->
        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:dont_work' %}')">
            <img src="{% static '/images/guide_page_logos/kartoteka.png' %}" alt="Image">
        </div>

        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:dont_work' %}')">
            <img src="{% static '/images/guide_page_logos/work.png' %}" alt="Image">
        </div>

        <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:dont_work' %}')">
            <img src="{% static '/images/guide_page_logos/gox.png' %}" alt="Image">
        </div>

         <div class="image-container" onclick="delayedRedirect('{% url 'HGcity:dont_work' %}')">
            <img src="{% static '/images/guide_page_logos/map.png' %}" alt="Image">
        </div>
    </div>

</div>
<p style="margin-bottom:150px;"></p>


<script>
    function delayedRedirect(url) {
        // Добавляем задержку в 1 секунду перед переходом
        setTimeout(() => {
            window.location.href = url;
        }, 300); // Задержка 1000 мс = 1 секунда
    }
</script>
{% endblock %}


{% block footer %}
{% endblock %}
