<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Харальдград</title>
    {% load static %}

    <!-- Описание и ключевые слова для поисковых систем -->
    <meta name="description" content="{% block description %}🔻 Харальдград — Виртуальный город [WRP] 🔻{% endblock %}">
    <meta name="keywords" content="{% block keywords %}GAME, WRP, ADVANTURE, HG{% endblock %}">

    <!-- Open Graph для социальных сетей -->
    <meta property="og:title" content="Харальдград">
    <meta property="og:description" content="🔻 Харальдград — Виртуальный город [WRP] 🔻">
    <meta property="og:image" content="{% static '/images/hg.png' %}">
    <meta property="og:url" content="http://xaraldgrad.ru/">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{% static 'HGcity/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">


</head>
<body id="home-page">
<!-- Контейнер для всего контента -->
<div class="container">
    <!-- Блок с заголовком -->
    <div>
        <p class="special-text-K-home" style="color:#c41d1d66;">ХАРАЛЫДГРАД</p>
    </div>

    <!-- Начальные изображения -->
    <img id="lightImage" src="{% static 'animations/doors/lights.webp' %}" alt="Свет"
         style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; object-fit: cover; z-index: 9999; display: none; opacity: 0.2;">

    <div class="door-container">
        <img id="doorImage" class="door-image" src="{% static 'animations/doors/bunker_1.png' %}" alt="Бункер">
        <video id="doorVideo" class="door-video" muted playsinline webkit-playsinline>
            <source src="{% static 'animations/doors/doors_high_open.mp4' %}" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
    </div>

    <!-- Блок с количеством жителей -->
    <div>
        <p class="residents-count"><b style="color:#CD5C5C;">КОЛИЧЕСТВО ЖИТЕЛЕЙ:</b> {{ user_count }}</p>
    </div>

    <!-- Блок с навигацией -->
    <div class="navigation-block">
        <nav>
            {% if user.is_authenticated %}
            <button onclick="openDoors()">Открыть Двери</button>
            {% else %}
            <button onclick="window.location.href='{% url 'HGcity:register' %}'">
                РЕГИСТРАЦИЯ
            </button>
            <button onclick="window.location.href='{% url 'HGcity:login' %}'">
                ВХОД
            </button>
            <button onclick="window.location.href='{% url 'HGcity:about_close' %}'" style='font-size:10px;'>
                О ПРОЕКТЕ
            </button>
            {% endif %}
        </nav>
    </div>

    <!-- Звук для открытия дверей -->
    <audio id="door-sound" src="{% static 'HGcity/music/doors_sound.mp3' %}"></audio>
    <audio id="alarm-doors" src="{% static 'HGcity/music/alarm_doors.mp3' %}"></audio>

</div>

<audio id="background-music" src="{% static 'HGcity/music/music_guide_page.mp3' %}" loop></audio>

<div>
    {% if user.is_authenticated %}
    <button class="music-button" id="toggle-music" onclick="toggleMusic()">🔈</button>
    {% else %}
    <button class="music-button" id="toggle-music" onclick="toggleMusic()">🔈</button>
    {% endif %}
</div>


<script>
    const lightImage = document.getElementById('lightImage');
    const audioElement = document.getElementById('background-music');
    const toggleButton = document.getElementById('toggle-music');
    const doorImage = document.getElementById('doorImage');
    const doorVideo = document.getElementById('doorVideo');
    const doorSound = document.getElementById('door-sound');
    const doorAlertSound = document.getElementById('alarm-doors');
    doorSound.volume = 0.4;
    doorAlertSound.volume = 0.3;
    audioElement.volume = 0.3;

    let isPlaying = false;

    function toggleMusic() {
        if (isPlaying) {
            audioElement.pause();
            toggleButton.textContent = '🔊';
        } else {
            audioElement.play();
            toggleButton.textContent = '🔈';
        }
        isPlaying = !isPlaying;
    }

    // Включаем музыку при первом клике
    document.addEventListener("click", function() {
        if (audioElement.paused) {
            audioElement.play();
            isPlaying = true;
            toggleButton.textContent = '🔈';
        }
    }, { once: true }); // Только одно срабатывание

    function openDoors() {
        doorSound.play();
        doorAlertSound.play();

        setTimeout(function() {
            lightImage.style.display = 'block';
        }, 0);

        audioElement.pause();

        doorImage.style.display = 'none';
        doorVideo.style.display = 'block';
        doorVideo.play();

        setTimeout(function () {
            window.location.href = '{% url 'HGcity:guide_page' %}';
        }, 4500); // Подгоняй время под длину видео
    }
</script>

<!-- Футер -->
<footer class="footer-block">
    <i>Version: 1.00.1</i>
</footer>
</body>
</html>
