<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Харальдград</title>
    {% load static %}
    <link rel="stylesheet" href="/static/HGcity/css/style.css">
</head>
<body>
    <div>
        <p class="special-text-K-home">ХАРАЛЫДГРАД</p>
        <pre>{{ view|safe }}</pre>
        <p>Это виртуальный город. Здесь ты можешь зарегистрироваться, войти в систему и начать свое приключение!</p>

        <audio id="background-music" src="{% static 'HGcity/music/music_guide_page.mp3' %}" autoplay loop></audio>
        <button id="toggle-music" onclick="toggleMusic()">🔈  Выкл. музыку</button>

        <nav>

            {% if user.is_authenticated %}
                <!-- Показываем ссылки для авторизованных пользователей -->
                <button onclick="window.location.href='{% url 'HGcity:guide_page' %}'" style="margin-top: 10px;">Открыть Двери</button>
            {% else %}
                <!-- Показываем ссылки для гостей -->
                <button onclick="window.location.href='{% url 'HGcity:register' %}'" style="margin-top: 10px;">Регистрация</button>
                <button onclick="window.location.href='{% url 'HGcity:login' %}'" style="margin-top: 10px;">Вход</button>
            {% endif %}
    </nav>

    <div>
         <p>КОЛИЧЕСТВО ЖИТЕЛЕЙ: {{ user_count }}</p>
    </div>
 <script>
        const audioElement = document.getElementById('background-music');
        const toggleButton = document.getElementById('toggle-music');
        let isPlaying = true;

        function toggleMusic() {
            if (isPlaying) {
                audioElement.pause();
                toggleButton.textContent = '🔊 Вкл. музыку';
            } else {
                audioElement.play();
                toggleButton.textContent = '🔈 Выкл. музыку';
            }
            isPlaying = !isPlaying;
        }
    </script>
    </div>


     <footer style="margin-top: 20px; font-size:14px;">
           <i>Version: 1.00.1</i>
     </footer>
</body>
</html>