<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="/static/HGcity/css/style.css">
    <link rel="stylesheet" href="{% static 'HGcity/css/background.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/guide.css' %}">
    <link rel="stylesheet" href="{% static 'HGcity/css/media.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body>

<img src="{% static '/images/background_login.png' %}" alt="Свет" id="background-image-login">

<div class="div-login-main">
    <h1 style="color:#ffffff;" class="topic-login">ВОЙТИ В АККАУНТ</h1>

        <!-- Отображение только сообщений о бане -->
    {% if messages %}
    <ul class="messages" style="list-style: none;">
        {% for message in messages %}
            {% if "error" in message.tags and message.message == "ВАШ АККАУНТ ЗАБЛОКИРОВАН | ЗАЯВКИ НА РАЗБЛОКИРОВКУ: SYSTEM.HARALDGRAD@GMAIL.COM" %}
            <li class="{{ message.tags }}" style="font-size:25px; color: red;">{{ message.message }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if form.non_field_errors %}
    <ul class="errorlist">
        {% for error in form.non_field_errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <br>
   <form method="post" class="login-form">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.username.id_for_label }}" class="form-label">Логин</label>
        {{ form.username }}
        {% if form.username.errors %}
        <ul class="errorlist">
            {% for error in form.username.errors %}
            <li class="form-error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errorlist">
            {% for error in form.password.errors %}
            <li class="form-error">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

<a href="{% url 'HGcity:password_reset' %}" class="forgot-password">ЗАБЫЛ ПАРОЛЬ</a>

    <button type="submit" class="button-login">Войти</button>
       <br>
       <button onclick="window.location.href='{% url 'HGcity:home' %}'" class="button-login-main">НА ГЛАВНУЮ</button>
</form>








</div>


</body>
</html>


