<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="/static/HGcity/css/style.css">
</head>
<body>
<h1>ВХОД В АККАУНТ</h1>
<form method="post">
    {% csrf_token %}

    <div>
        <label for="{{ form.username.id_for_label }}">Логин</label>
        {{ form.username }}
        {% if form.username.errors %}
        <ul class="errorlist">
            {% for error in form.username.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errorlist">
            {% for error in form.password.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <a href="{% url 'HGcity:password_reset' %}">Забыли пароль?</a>
    <button type="submit">Войти</button>
</form>



{% if form.non_field_errors %}
<ul class="errorlist">
    {% for error in form.non_field_errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Отображение только сообщений о бане -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if "error" in message.tags and message == "Доступ запрещён: ваш аккаунт заблокирован." %}
        <li class="{{ message.tags }}" style="font-size:55px; color: red;">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}


<p>Нет аккаунта? <a href="{% url 'HGcity:register' %}">Зарегистрироваться</a></p>

<button onclick="window.location.href='{% url 'HGcity:home' %}'" style="margin-top: 10px;">
    Главная
</button>

</body>
</html>


