{% extends 'HGcity/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}
<img src="{% static '/images/background_profile.png' %}" alt="Свет" id="background-image-profile">

<h1 style="display:flex; flex-direction: column; align-items: center; margin-top: 55px;">ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ</h1>
<!-- Сообщения -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if "error" in message.tags and message == "Для вашей идеологии нет доступных логотипов." %}
    <li class="{{ message.tags }}" style="font-size:25px; color: red;">{{ message }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<!--Верхний общий блок-->
<div class="profile-card" style="margin-bottom: 25px;">

    <!-- Блок с Лого и ФИО -->
    <div class="profile-block-high">

        <div class="profile-logo-editing-button">
            {% if user.logo %}
            <img src="{% static user.logo %}" alt="Ваш логотип" class="profile-logo">
            {% else %}
            <p>Логотип не выбран.</p>
            {% endif %}

            <button onclick="window.location.href='{% url 'HGcity:choose_logo' %}'" class="profile-button-logo">Выбрать
                логотип
            </button>
        </div>

        <div class="profile-section">
            <div style="margin-top: -30px;">
                <p style="font-weight: bold; font-size:35px;">{{ user.first_name }} {{ user.last_name }}</p>
            </div>

            <div style="margin-top: -45px; ">
                <p>Email: {{ user.email }}</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Логин: {{ user.username }}</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Роль: {{ user.role }}</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Идеология: {{ user.ideology }}</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Социальный рейтинг: {{ user.social_rating }}</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Жизни: {{ user.hp }} хп</p>
            </div>

            <div style="margin-top: -35px;">
                <p>Кошелек: {{ user.wallet }}</p>
            </div>


        </div>
    </div>


    <button onclick="window.location.href='{% url 'HGcity:profile_edit' %}'" style="margin-bottom: 10px;"
            class="profile-button-logo"> Редактировать данные
    </button>

</div>


<div style="margin-top: -18px;display: flex; flex-direction: column; align-items: center;">
    <p>Биография: {{ user.biography }}</p>
</div>



<script>
    function toggleEdit(field) {
        const form = document.getElementById(`form-${field}`);
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>

<script>
    function resizeTextarea(textarea) {
        textarea.style.height = "auto";
        textarea.style.height = `${textarea.scrollHeight}px`;
    }
</script>


{% endblock %}

{% block footer %}
{% endblock %}