{% extends 'HGcity/base.html' %}
{% load static %}

{% block title %}Изменение Профиля{% endblock %}

{% block content %}
<img src="{% static '/images/background_profile.png' %}" alt="Свет" id="background-image-profile">

<div class="profile-card-edit">



    <!-- Имя -->
    <div class="editing-div">
        <p class="p-profile-editing">Имя: <span id="first-name-display">{{ user.first_name }}</span></p>
        <button onclick="toggleEdit('first_name')" class="editing-button">Редактировать имя</button>
        <form method="post" action="{% url 'HGcity:update_profile' %}" style="display:none; text-align: center;" id="form-first_name" >
            {% csrf_token %}
            <input type="hidden" name="field" value="first_name" class="input-first-name">
            <input type="text" name="value" value="{{ user.first_name }}">
            <button type="submit" class="editing-button">Сохранить</button>
        </form>
    </div>

    <!-- Фамилия -->
    <div class="editing-div">
        <p class="p-profile-editing">Фамилия: {{ user.last_name }}</p>
        <button onclick="toggleEdit('last_name')" class="editing-button">Редактировать фамилию</button>
        <form method="post" action="{% url 'HGcity:update_profile' %}" style="display:none; text-align: center;" id="form-last_name">
            {% csrf_token %}
            <input type="hidden" name="field" value="last_name" class="input-first-name">
            <input type="text" name="value" value="{{ user.last_name }}">
            <button type="submit" class="editing-button">Сохранить</button>
        </form>
    </div>

    <!-- Идеология -->
    <div class="editing-div">
        <p class="p-profile-editing">Идеология: {{ user.ideology }}</p>
        <button onclick="toggleEdit('ideology')" class="editing-button">Редактировать идеологию</button>
        <form method="post" action="{% url 'HGcity:update_profile' %}" id="form-ideology" class="prof-edit-bio-center">
            {% csrf_token %}
            <input type="hidden" name="field" value="ideology">
            <select name="value">
                <option value="Национализм" {% if user.ideology == 'Национализм' %}selected{% endif %}>Национализм</option>
                <option value="Социализм" {% if user.ideology == 'Социализм' %}selected{% endif %}>Социализм</option>
                <option value="Демократия" {% if user.ideology == 'Демократия' %}selected{% endif %}>Демократия</option>
                <option value="Монархизм" {% if user.ideology == 'Монархизм' %}selected{% endif %}>Монархизм</option>
            </select>
            <button type="submit" class="editing-button">Сохранить</button>
        </form>
    </div>

    <!-- Биография -->
    <div class="editing-div-bio">
        <form method="post" action="{% url 'HGcity:update_profile' %}" class="editing-div-bio" id="form-biography">
            {% csrf_token %}
            <input type="hidden" name="field" value="biography">
            <textarea name="value" rows="5" class='text-area-prof-edit'>
                {{ user.biography|linebreaksbr }}
            </textarea>
            <button type="submit" class="editing-button">Сохранить Биографию</button>
        </form>
    </div>


    <!-- Правила -->
    <div class="editing-div-rules">
        <button onclick="toggleRules()" class="editing-button">Посмотреть правила</button>
        <div id="rules-list" class="rules-list">
            <ul>
                <li><b style="color:#5cca5c;">Правило 1</b>: Избегайте использования ругательств, оскорблений и уничижительных терминов.</li>
                <li><b style="color:#5cca5c;">Правило 2</b>: Запрещены дискриминационные или расистские имена. Имена, содержащие элементы расовой, национальной, религиозной или иной дискриминации, а также ненависти и предвзятости, строго запрещены.</li>
                <li><b style="color:#5cca5c;">Правило 3</b>: Запрещено использование неприемлемых символов и чисел. Избегайте включения в имя случайных наборов чисел или символов, которые не имеют смысла или могут быть расценены как спам.</li>
                <li><b style="color:#5cca5c;">Правило 4</b>: Не используйте имена, вводящие в заблуждение. Например, не используйте имена, как "Администратор" или "Модератор", если вы не обладаете такими правами.</li>
                <li><b style="color:#5cca5c;">Правило 5</b>: Не используйте имена, нарушающие законы. Убедитесь, что ваше имя не нарушает законы или международные правила, включая законы о защите личной информации и прав интеллектуальной собственности.</li>
            </ul>
        </div>
    </div>


</div>

<div class="editing-button-back">
    <button onclick="window.location.href='{% url 'HGcity:profile' %}'">Вернуться в Профиль</button>
</div>

<p style="margin-bottom:100px;">
<script>
    // Функция для открытия/закрытия списка правил с анимацией
    function toggleRules() {
        const rules = document.getElementById("rules-list");

        if (rules.style.maxHeight) {
            rules.style.maxHeight = null;
        } else {
            rules.style.maxHeight = rules.scrollHeight + "px";
        }
    }

    function toggleEdit(field) {
        const form = document.getElementById(`form-${field}`);
        const display = document.getElementById(`${field}-display`);
        if (form.style.display === "none") {
            form.style.display = "block";
            display.style.display = "none";
        } else {
            form.style.display = "none";
            display.style.display = "block";
        }
    }

    // Обновление отображаемого имени после отправки формы
    document.getElementById('form-first_name').onsubmit = function() {
        var newFirstName = document.querySelector('input[name="value"]').value;
        document.getElementById('first-name-display').textContent = newFirstName;
    };

    document.getElementById('form-last_name').onsubmit = function() {
        var newLastName = document.querySelector('input[name="value"]').value;
        document.getElementById('last-name-display').textContent = newLastName;
    };
</script>

{% endblock %}

{% block footer %}
{% endblock %}
