{% extends 'HGcity/base.html' %}
{% load static %}
{% block title %}Поддержка{% endblock %}

{% block content %}




<div class="excel-table-container">



    <h1 class="excel-header">🏆 ТОП-10 ПОЛЬЗОВАТЕЛЕЙ 🏆</h1>
    <table class="excel-table">
        <thead>
        <tr>
            <th class="excel-cell-header">#</th>
            <th class="excel-cell-header">Имя пользователя</th>
            <th class="excel-cell-header">Социальный рейтинг</th>
        </tr>
        </thead>
        <tbody>
        {% for user in top_users %}
        <tr>
            <td class="excel-cell">{{ forloop.counter }}</td>
            <td class="excel-cell">{{ user.username }}</td>
            <td class="excel-cell">{{ user.social_rating }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="donate-container">
    <p class='donate-text'>ВЫ МОЖЕТЕ ПОДДЕРЖАТЬ ПРОЕКТ, ОТПРАВИВ ДОНАТ ЧЕРЕЗ <span STYLE="COLOR:#F96F6F;">DONATION ALLERTS</span>
        <br>
        <br>
        <span style="color:#f96f6f;">ПОКАЧТО</span> ТОЛЬКО ТАК ВЫ МОЖЕТЕ ПОДНЯТЬ СВОЙ СОЦИАЛЬНЫЙ РЕЙТИНГ
    </p>

     <p class='donate-text'>
         ПОДДЕРЖКА ПОМОГАЕТ РАЗВИТИЮ ПРОЕКТА И СТИМУЛИРУЕТ ЕГО РАЗВИТИЕ. <span style="color:#efea1b;">СПАСИБО !</span>
         <br>
         <br>
         <b style="color:#efea1b;">ВНИМАНИЕ ! <br> </b>ОБЯЗАТЕЛЬНО УКАЗАТЬ СВОЙ НИК В ДОНАТЕ <span style="color:#f96f6f;">  <br>    [ ИЗ ПРОЕКТА ]</span>
    </p>

    <p style="font-size:20px;"> </p>
    <button onclick="window.location.href='https://www.donationalerts.com/r/harald'"
            class="sup-button">
        ПОДДЕРЖАТЬ ПРОЕКТ
    </button>

</div>


<img src="{% static '/images/background_sup.png' %}" alt="Свет" id="background-image-rules">
{% endblock %}

{% block footer %}
{% endblock %}
