/* === Мобильные устройства (до 480px) === */
@media (max-width: 480px) {
    /* Стили для мобильных устройств */
    body {
    font-family: 'GOST Type AU', Courier New;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Центрируем контент сверху */
    min-height: 100vh;
    font-size: 20px;
    color: rgb(247, 242, 242); /* Белый цвет текста по умолчанию для всего тела */
    background-color: #130909;
}


.prof-bio-place {
    width: 340px;
}

.profile-button-logo {
    padding: 2px 15px;
    font-size: 16px;
}

@font-face {
    font-family: 'GOST type A';
    src: url('/static/fonts/GOST Type AU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Kroftsmann';
    src: url('/static/fonts/Kroftsmann.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.container-password-reset-complete {
    margin-top: 50%;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.errorlist {
    width: 80%;
}

.button-login-main {
    padding: 1px 5px;
    font-size: 15px;
    margin-top: 15px;
}

.container-password-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40%;
    width: 90%;
}

.title-confirm {
    font-size: 25px;
    font-weight: bold;
}

.div-login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36%;
}

.text-confirm {
    font-size: 18px;
    width: 80%;
}

button {
    font-size: 20px;
}

.confirm-acc {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.reg-button {
    width: 59%;
    font-size: 14px;
    margin-top: 10%;
}

.rules-list li {
    margin-bottom: 10px;
    font-size: 16px;
    list-style-type: none;
    margin-right: 10%;
}

.special-text-K-home {
    font-size: 32px;
}

.door-image, .door-video {
    width: 300px;
    border-radius: 15px;
}

.music-button {
    right: 44%;
}

.container {
    margin-top: 24%;
}

input {
    width: 200px;
}

.container-confirm-email {
    width: 100%;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

.div-reset-password {
    width: 300px;
    text-align: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
    gap: 10px; /* Расстояние между элементами */
}

header nav ul li {
    width: calc(50% - 5px); /* Задает ширину каждого элемента (по 2 на строку) */
}

header nav ul li a {
    text-decoration: none;
    color: #fefbfb;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s, transform 0.3s;
    font-size: 18px;
}


.titl-guide-page {
    font-size: 35px;
    text-align: center;
}

.text-guide-page {
    font-size: 20px;
    margin-top: -6%;
}


.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container {
    width: calc(42% - 10px);
    display: flex;
    justify-content: center;
    height: calc(30% - 10px);
}



.img-about-top {
    width: 300px;
    border-radius: 15px;
    margin-top: 10%;
}

.content-container {
    width: 80%;
}

.welcome-text {
    font-size: 33px;
    margin-bottom: -2px;
}

.description-text {
    font-size: 0.9em;
}

.features-list {
    font-size: 17px;
}

.history-title {
    font-size: 34px;
    text-align: center;
}

.download-links {
    text-align: center;
}


.description-text-update {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
}

.features-list-update {
    width: 79%;
}

.features-list-update li {
    font-size: 17px;
}

.excel-header {
    font-size: 22px;
}


.excel-table-container {
    max-width: 300px;
    font-size: 16px;
    margin-top: 15%;

}

.donate-text {
    width: 300px;
    font-size: 18px;
}


.sup-button {
margin-top: 10px;
    padding: 0px 10px;
    width: 200px;
    margin-bottom: 35%;
    font-size: 19px;
}

.chats {
    border: 1px solid #a40c0c;
    height: 250px;
    width: 300px;
    overflow-y: scroll;
    padding: 10px;
}

.div-chat-end {
    display: flex;
    margin-bottom: 30%;
    gap: 30px;
    flex-direction: column;
    width: 250px;
}

.chat-title {
    font-size: 25px;
    margin-top: 30px;
}

.chat-message {
    font-size: 11px;
}


.features-list {
    font-size: 17px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.features-wrapper-chat-rules {
    width: 300px;

}

.features-wrapper-chat-rules-2 {
    width: 300px;
}

.fixed-button {
    font-size: 20px;
}


.profile-logo {
    width: 210px;
    height: 210px;
}

.profile-name-secondname {
    font-size: 30px;
}

.profile-card {
    max-width: 350px;
}

.profile-block-high {
    gap: 15px;
    flex-direction: column;
}

.profile-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.profile-name-secondname {
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile-name-top {
    margin-top: 35px;
    font-size: 32px;
    text-align: center;
}

.logo-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 200px;
}

.logo-list img {
    width: 160px;
    height: auto;
}

.choose_logo_many {
    margin-top: 25px;
    color: #e71e1e;
}

.profile-button-logo-2 {
    margin-bottom: 200px;
}

.profile-card-edit {
    display: flex;
    padding-top: 25px;
    margin: 0 auto;
    font-size: 25px;
    width: 250px;
    flex-direction: column;
}

.editing-div {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;

}

.editing-div {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

button.editing-button {
     margin-left: 1px;
     margin-bottom: 25px;
     font-size:20px;
}

.prof-edit-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.prof-edit-bio-center {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

#rules-list ul {
    font-size: 18px;
    list-style: none;
    text-align: left;
}

}

/* === Планшеты (от 481px до 768px) === */
@media (min-width: 481px) and (max-width: 768px) {
    /* Стили для планшетов */
    body {
    font-family: 'GOST Type AU', Courier New;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Центрируем контент сверху */
    min-height: 100vh;
    font-size: 20px;
    color: rgb(247, 242, 242); /* Белый цвет текста по умолчанию для всего тела */
    background-color: #130909;
}

.title-confirm {
    font-size: 35px;
    font-weight: bold;
}

.text-confirm {
    font-size: 19px;
    width: 80%;
}

.confirm-acc {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.reg-button {
    width: 49%;
    font-size: 16px;
    margin-top: 6%;
}

.rules-list li {
    margin-bottom: 10px;
    font-size: 16px;
    list-style-type: none;
    margin-right: 10%;
}

.errorlist {
    margin: 0px 0 0;
    padding: 0;
    list-style: none;
    width: 60%;
    text-align: center;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

header nav ul li a {
    font-size: 25px;
}

.img-about-top {
    width: 640px;

}

input[name="value"] {
    width: 50%;
}

.editing-div {
    gap: 10px;
}

.content-container {
    width: 80%;
}

.image-container {
    width: calc(35% - 10px);
    display: flex;
    justify-content: center;
    height: calc(30% - 10px);
}

.image-container img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.door-image, .door-video {
    width: 560px;
}


.special-text-K-home {
    font-size: 80px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.music-button {
    right: 47%;
}

.div-login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
}

.form-label {
    font-size: 30px;
}


.button-login-main {
    padding: 1px 5px;
    font-size: 20px;
    margin-top: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #13090900 inset;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 18px;
}

.container-password-reset-complete {
    margin-top: 50%;
}

.button-login {
    font-size: 38px;
}

.container-password-reset {
    margin-top: 35%;
}

label {
    font-size: 28px;


}
}


/* === Десктопы (от 769px до 1024px) === */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Стили для средних десктопов */
    body {
    font-family: 'GOST Type AU', Courier New;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Центрируем контент сверху */
    min-height: 100vh;
    font-size: 20px;
    color: rgb(247, 242, 242); /* Белый цвет текста по умолчанию для всего тела */
    background-color: #130909;
}

.special-text-K-home {
    font-size: 90px;
    margin-top: 135px;
}

.container-password-reset {
    margin-top: 32%;
}

.button-login-main {
    font-size: 25px;
    margin-top: 19%;
}



.container-password-reset-complete {
    margin-top: 45%;
}

.profile-button-logo {
    padding: 2px 15px;
    font-size: 28px;
    margin-bottom: 20px;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container {
    width: calc(35% - 10px);
    display: flex;
    justify-content: center;
    height: calc(30% - 10px);
   }

.features-list {
    font-size: 23px;
    line-height: 1.6;
}

.logo-list li {
    flex: 0 0 50%;
}

.profile-card-edit {
    width: 100%;
    padding-top: 45px;
}



.logo-list img {
    width: 180px;
}

.features-wrapper-chat-rules-2 {
     padding: 0px;

}

input[name="value"] {
    margin-bottom: 20px;
    font-size:20px;
    width: 90%;
}

.text-area-prof-edit {
    font-size: 25px;
}

.editing-button-back {
    display: flex;
    margin-top: 30px;
}

.features-wrapper-chat-rules {
    border: 0px solid #581010;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    padding: 0px;
}

.chat-input {
    font-size: 20px;
}

.button-chat {
    font-size: 29px;
}

.button-chat-rules {
    font-size: 30px;
}

.img-about-top {
    width: 610px;
    margin-top: 5%;
}


.content-container {
    width: 81%;
}

.button-password-reset {
    font-size: 25px;
}

.image-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.container {
    margin-top: 15%;
}

.footer-block {
    margin-top: 10px;
}

.form-label {
    font-size: 35px;
}

.residents-count {
    font-size: 25px;
}
button {
    font-size: 30px;
    margin-top: 20px;
}

.button-login {
    padding: 0px 10px;
    font-size: 45px;
    margin-bottom: 0%;
}

.forgot-password {
    font-size: 21px;
    margin-bottom: 30px;
}

.button-reg {
    padding: 3px 10px;
    font-size: 30px;
    margin-top: 70px;
}

.button-reg-main {
    font-size: 30px;
}

.forgot-password-reg {
    font-size: 28px;
}

.text-confirm {
    font-size: 25px;
}

.contact-section {
    font-size: 30px;
}


input {
    font-size: 24px;
}

header nav ul li a {
    font-size: 24px;
}

.select-wrapper select {
    width: 80%;
    padding: 5px;
    font-size: 18px;
}

.div-login-main {
    margin-top: 35%;
}

.music-button {
    top: 89%;
    right: 47%;
}

.special-text-K-home {
    font-family: 'Kroftsmann', sans-serif;
    font-size: 80px;
    color: white;
    letter-spacing: 15px;
    margin-top: 1%;
}

label {
    font-size: 30px;
}

.prof-bio-place {
    width: 500px;
    font-size: 32px;
}

button.editing-button {
    font-size: 24px;
}

.editing-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
    align-items: center;
}



}

/* === Большие десктопы (от 1025px до 1535px) === */
@media (min-width: 1025px) and (max-width: 1536px) {
    /* Стили для больших десктопов */
    body {
    font-family: 'GOST Type AU', Courier New;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Центрируем контент сверху */
    min-height: 100vh;
    font-size: 20px;
    color: rgb(247, 242, 242); /* Белый цвет текста по умолчанию для всего тела */
    background-color: #130909;
}

.music-button {
    top: 80%;
}




.forgot-password-reg {
    font-size: 20px;
    margin-bottom: 5px;
}

.div-login-main {
    display: flex
;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
}

.title-confirm {
font-size:35px;
font-weight: bold;
}

.container-password-reset {
    margin-top: 10%;
}

.text-confirm {
font-size:15px;
}

.reg-button {
    font-family: 'GOST Type AU', Arial, sans-serif;
    background-color: #bc4141;
    color: rgb(252, 251, 251);
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 44%;
    font-size: 16px;
    margin-top: 6%;
}

.rules-list li {
    margin-bottom: 10px;
    font-size: 18px;
}

.container-acc-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 70vh;
}

.door-image, .door-video {
    width: 500px; /* Общая ширина */
}

.door-video {
    display: none; /* Скрыть по умолчанию */
}

.special-text-K-home {
    font-family: 'Kroftsmann', sans-serif;
    font-size: 60px;
    color: white; /* Белый цвет текста */
    margin-bottom: 20px;
    letter-spacing: 15px; /* Увеличиваем расстояние между буквами */
    margin-top: 1%;
}


.residents-count {
   font-size: 25px;

}

button::after {
    content: ''; /* Пустой элемент для создания пространства */
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 3px solid #b43434; /* Красная рамка вокруг кнопки */
    pointer-events: none; /* Чтобы рамка не мешала нажимать на кнопку */
    z-index: 0; /* Рамка будет за кнопкой */
}

/* Меняем цвет рамки при наведении */
button:hover::after {
    border: 3px solid #772020; /* Темно-красная рамка при наведении */

}

/* Меняем цвет рамки при нажатии */
button:active::after {
    border: 3px solid white; /* Белая рамка при нажатии */
}

button {
    font-size: 21px;
    padding: 2px 12px;
    margin-top: 0px;
}


.div-login-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
}

.topic-login {
   font-size: 30px;

}

    .form-label {
        font-size: 25px;
        color: #ffffff;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


input {
    width: 200px;
    max-width: 1800px;
    border-bottom: 1px solid #ccc;
    font-size: 11px;
}



label {
    font-size: 13px;
}

.forgot-password {
    font-size: 13px;
}

.form-group {
    margin-bottom: 10px;
    }


.button-login {
    padding: 0px 10px;
    font-size: 15px;

}


.select-wrapper select {
    padding: 2px;
    font-size: 11px;
}

.button-reg {
    padding: 3px 12px;
    font-size: 20px;
    margin-top: 45px;
}

.button-reg-main {
    padding: 3px 10px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 240px;
}

.forgot-password-reg {
    font-size: 20px;
    margin-bottom: 5px;
}



/* Поля ввода */
.form-group input {
    width: 200px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

label {
    font-size: 20px;
}

input {
    width: 200px;
    max-width: 1800px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
}

.button-login-main {
    padding: 1px 5px;
    font-size: 15px;
    margin-top: 20px;
}

.forgot-password {
    font-size: 17px;
}

.button-login {
    padding: 0px 10px;
    font-size: 25px;
}

header nav ul li a {
    font-size: 20px;
}

.titl-guide-page {
    font-size:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
 }


.text-guide-page {
font-size:16px;
}

.img-about-top {
width: 90%;
border-radius:15px;
}


.welcome-text {
    font-size: 35px;
}

.description-text {
    font-size: 15px;
    line-height: 1.4;
}

.features-list {
    font-size: 14px;
}

.features-wrapper-update {
    border: 1px solid #581010;
    padding: 10px;
}


.history-title {
    font-size: 30px;
}

.download-links a {
    font-size: 20px;
}



.features-list-update {
    list-style-type: none;
    text-align: center;
}

.features-list-update li {
    font-size: 14px;

}


.contact-section {
font-size: 17px;
}


.excel-header {
    font-size: 25px;
}

.excel-table, .excel-cell, .excel-cell-header {
    font-size: 14px;
}


.button-chat-rules {
    padding: 3px 10px;
    font-size: 15px;
}

.chat-title {
    font-size: 15px;
    margin-top:5%;
}


.chat-input {
width: 85%;
height: 20px;
padding: 5px;
}

.button-chat {
    padding: 3px 10px;
    font-size: 14px;
}

.chat-message {
  font-size: 13px;
}

.div-chat-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}


.profile-name-secondname {
    font-weight: bold;
    font-size:30px;
    margin-bottom: 20px;
}



.profile-text-all {
  font-size:20px;
  margin-top: -14px;
}

button.editing-button {
    font-size: 15px;
}

.chats {
    height: 300px;
    width: 650px;
}

.editing-button {
    padding: 2px 15px;
    font-size: 10px;
}

.logo-list img {
    width: 100px;
    height: auto;
}

.editing-div-rules {
    margin-top: 3%;
}


}


/* === Очень большие экраны (больше 1440px) === */
@media (min-width: 1537px) {

}




}
